body {
    background-color: var(--blue-100);
    font-family: var(--font-base);

    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--blue-95);
    padding: 1.25rem;
    padding-inline: var(--page-spacing);
}

.header-nav {
    max-width: 90rem;
    margin: auto;

    color: var(--white);
    font-family: 'Fredoka', sans-serif;
    font-weight: var(--font-600);
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media (min-width: 768px) {
        justify-content: start;
    }
}

main {
    padding-top: 3.5rem;
    padding-inline: var(--page-spacing);

    flex: 1;
}

.photo-album h1 {
    color: var(--white);
    font-family: var(--font-base);
    font-weight: var(--font-800);
    font-size: clamp(2.625rem, 2.307rem + 1.591vi, 3.5rem);
    text-align: center;
}

.photo-grid {
    max-width: 75rem;
    margin: auto;
    padding-block: 4.5rem 3.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    img {
        width: calc((100% - 1rem) / 2);
        max-width: 150px;
        height: auto;
        aspect-ratio: 1 / 1;
        border: 2.5px solid var(--blue-85);
        border-radius: 1rem;

        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            border-color: var(--blue-40);
            transform: scale(1.03);
            filter: brightness(1.1) saturate(1.1);

        }
    }
}

.dialog {
    padding: 0;
    margin: auto;

    border: none;
    background-color: transparent;

    display: flex;
    justify-content: center;
}

.dialog::backdrop {
    background-color: rgba(18, 70, 88, 0.2);
    backdrop-filter: blur(0.5px);
    filter: brightness(0.5);
}

.dialog-content {
    background-color: var(--blue-95);
    border-radius: 40px;
    padding: 2rem 1rem;
    max-width: 28rem;

    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        padding: 3.5rem 4rem;
        /* maybe clamp? */

        max-width: 43rem;
    }
}

.dialog-header {
    padding-bottom: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-title {
    color: var(--white);
    font-weight: var(--font-700);
    font-size: 1.5rem;
}

.dialog-close {
    width: 30px;
    height: 30px;
    padding: 0;

    background: none;
    border: none;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
        background-color: var(--blue-85);
    }

    &:active {
        background-color: var(--blue-90);
    }
}

.dialog-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.dialog-back,
.dialog-next {
    width: 60px;
    height: 60px;
    background-color: rgba(253, 91, 79, 0.1);
    border-radius: 100px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
        background-color: rgba(253, 91, 79, 0.2);
    }
}

.dialog-back svg {
    transform: rotate(180deg);
}

.dialog-counter {
    color: var(--white-10);
    font-weight: var(--font-500);
    font-size: 1rem;
}

.dialog-img {
    width: 100%;

    border-radius: 1rem;
    margin-bottom: 3rem;

    box-shadow:
        0 25px 50px -12px rgba(0, 0, 0, 0.3),
        0 10px 20px -8px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: var(--blue-95);
    padding-bottom: 1.5rem;

    p {
        color: var(--gray-40);
        text-align: center;
    }
}

.footer-headline {
    color: var(--white);
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    padding-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 5rem;
    }
}