body {
    background-color: var(--blue-100);
    font-family: var(--font-base);
}

header {
    background-color: var(--blue-95);
    padding: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fotogram-title {
    color: var(--white);
    font-family: 'Fredoka', sans-serif;
    font-weight: var(--font-600);
    font-size: 2rem;
}

main {
    padding-top: 5rem;
    padding-inline: var(--page-spacing);
}

.photo-album h1 {
    color: var(--white);
    font-family: var(--font-base);
    font-weight: var(--font-800);
    font-size: clamp(2.625rem, 2.307rem + 1.591vi, 3.5rem);
    text-align: center;

}