body {
    background-color: var(--blue-100);
    font-family: var(--font-base);

    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--blue-95);
    padding: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fotogram-title {
    color: var(--white);
    font-family: 'Fredoka', sans-serif;
    font-weight: var(--font-600);
    font-size: 2rem;
}

main {
    padding-top: 3.5rem;
    padding-inline: var(--page-spacing);

    flex: 1;
}

.photo-album h1 {
    color: var(--white);
    font-family: var(--font-base);
    font-weight: var(--font-800);
    font-size: clamp(2.625rem, 2.307rem + 1.591vi, 3.5rem);
    text-align: center;
}

.photo-grid {
    max-width: 75rem;
    margin: auto;
    padding-block: 4.5rem 3.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    img {
        width: calc((100% - 1rem) / 2);
        max-width: 150px;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: inherit;
        border: 2px solid var(--blue-85);
        border-radius: 1rem;
    }
}

.dialog {
    padding: 0;
    margin: auto;

    border: none;
    background-color: transparent;

    display: flex;
    justify-content: center;
}

.dialog::backdrop {
    background-color: rgba(18, 70, 88, 0.5);
    /* backdrop-filter: blur(1px); */
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Zentriert das Bild vertikal */
    background-color: var(--blue-95);
    /* Dunkelblauer Dialoghintergrund, Figma-Wert */
    border-radius: 2rem;
    /* Abgerundete Ecken für den Dialog */
    padding: 2.5rem;
    /* Padding für Desktop, Figma-Wert */
    width: 90%;
    /* Responsive Breite auf Mobile */
    max-width: 600px;
    /* Maximale Dialogbreite auf Desktop, Figma-Dialog-Breite */
    height: auto;
    /* Höhe passt sich an */
    max-height: calc(100vh - 5rem);
    /* Verhindert, dass der Dialog zu hoch wird */
}



footer {
    background-color: var(--blue-95);
    padding-bottom: 1.5rem;

    p {
        color: var(--gray-40);
        text-align: center;
    }
}

.footer-headline {
    color: var(--white);
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    padding-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 5rem;
    }
}